html,body {
    font-size: 14px;
    margin: 0;
    }

@font-face {
    font-family: title;
    src: url("../fonts/pmn-caecilia-85-heavy-586439014af9e.otf");
    }
@font-face {
    font-family: paragraph;
    src: url("../fonts/AvenirNextLTPro-Medium.otf");
    }
@font-face {
    font-family: paragraphBold;
    src: url("../fonts/AvenirNextLTPro-Demi.otf");
    }

h1, h2, h3, h4, h5 {
    font-family: title;
    font-weight: 100;
    }

p {
    font-family: paragraph;
    }

.container-fluid {
    padding: 2rem 6rem;
}

.header img {
    height: 2.5rem;
}

.hero {
    min-height: 26vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 5rem 0;
    text-align: center;
    }

.hero >div{
    margin-top: 4rem;
    margin-bottom: 5rem;
    width: 100%;
}

.hero div h1 {
    font-size: 4rem;
    line-height: 1.35;
    margin: 0;
    }


.hero div p {
    font-size: 2.5rem;
    font-family: paragraph, sans-serif;
    color: #9B9B9B;
    margin: 1rem 0 0 0;
    padding: 0;
    }

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.details >div {
    padding: 2.5rem;
    text-align: center;
    background: #ffffff;
    width: 70%;
}

.details h3 {
    color: #2E2E2E;
    font-size: 1.5rem;
    }
.details p {
    color: #707070;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.4;
    }
.details .detailsSubHeader {
    font-family: paragraphBold;
    color: #292929;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    }

.details .secondaryButton {
    color: #F5821F;
    border: 1px solid #DDDDDD;
    font-family: title, sans-serif;
    font-size: 1.3rem;
    background: #ffffff;
    border-radius: 4rem;
    padding: 1.1rem 2.5rem;
    cursor: pointer;
    margin-top: 1.5rem;
    align-self: flex-end;
    outline: none;
}

.footer {
    background: #508279;
    color: #ffffff;
    margin-top: 4rem;
    padding: 2rem 6rem 6rem 6rem;
}

.footer >div {
    width: 60%;
    padding: 1rem 0;
}

.footer div .paragraph {
    font-size: 1.3rem;
    font-weight: 100;
}

.footer .additionalPayment {
    display: flex;
    width: 100%;
}

.footer .additionalPayment >div {
    width: 45%;
    margin-right: 5%;
}

.footer h4 {
    font-size: 1.2rem;
    margin-bottom: .6rem;
}

.footer .questions {
    display: flex;
    width: 100%;
}
.footer .questions div {
    margin-right: 10%;
}
.footer .questions div p{
    margin: 0;
    padding: 0;
}


.sticky {
    background: #DBE5E3;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.sticky p {
    color: #508279;
    padding: .8rem;
    margin: 0;
}

.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .screenshot button {
        padding: 1rem;
        width: 18rem;
        margin: 0 0 8rem 0;
        font-size: 1.5rem;
        border-radius: 2rem;
        background: #F5821F;
        font-family: title, sans-serif;
        color: #ffffff;
        border: 1px solid #F5821F;
        cursor: pointer;
        outline: none;
    }
    .screenshot button:hover {
        color: #F5821F;
        border: 1px solid #F5821F;
        box-sizing: border-box;
        background: #ffffff;

    }
    .screenshot img {
        height: 70vh;
    }
    .screenshot p {
        color: #9a9a9a; 
        margin-left: 2rem; 
    }
@media only screen and (max-width: 1280px) {
    html,body {
        font-size: 13px;
    }
    .header img {
        height: 2rem;
    }
    .hero div h1 {
        font-size: 2.8rem;
    }
    .details {
        margin-top: 0;
    }

    .details .detailsSubHeader {
        width: 100%;
    }
} 


@media only screen and (max-width: 970px) { 
    .container-fluid, .footer {
        padding: 2rem;
    }
    .footer {
        padding-bottom: 4rem;
    }
    .details h3 {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 750px) { 
    .details {
        flex-direction: column;
        }
    .footer >div {
        width: 95%;
    }
    .details .detailsSubHeader { 
        width: 100%;
    }
    .details .secondaryButton, .details .primaryButton {
        align-self: center;
    }
}

@media only screen and (max-width: 600px) { 
    html,body {
        font-size: 13px;
        }
    .hero {
        padding: 1rem;
    }
    .hero div h1 {
        width: 100%;
        font-size: 2.4rem;
        }
    .sticky p {
        font-size: .8rem;
    }
    .details >div {
        margin-right: 0;
        margin-top: 2rem;
    }
}

.largeText {
    font-family: paragraphBold;
    font-size: 1.4rem;
    margin-top: 0;
}


