html,body {
    font-size: 14px;
    margin: 0;
    }

@font-face {
    font-family: title;
    src: url("../fonts/pmn-caecilia-85-heavy-586439014af9e.otf");
    }
@font-face {
    font-family: paragraph;
    src: url("../fonts/AvenirNextLTPro-Medium.otf");
    }
@font-face {
    font-family: paragraphBold;
    src: url("../fonts/AvenirNextLTPro-Demi.otf");
    }

h1, h2, h3, h4, h5 {
    font-family: title;
    font-weight: 100;
    }

p {
    font-family: paragraph;
    }

.container-fluid {
    padding: 2rem 6rem;
}

.header img {
    height: 2.5rem;
}

.hero {
    min-height: 30vh;
    display: flex;
    align-items: flex-end;
    padding: 2rem 2rem;
    position: relative;
    margin-top: 2rem;
    }

.hero >div{
    padding-bottom: 2rem;
}

.hero div h1 {
    width: 65%;
    font-size: 3rem;
    line-height: 1.35;
    padding: 0;
    margin-bottom: 0;
    }

.hero .pattern {
    position: absolute;
    background-image: url("../images/pattern.svg");
    background-repeat: no-repeat;
    height: 17.5rem;
    z-index: -1;
    margin-left: -4rem;
    display: block;
    width: 100%;
}

.hero div p {
    font-size: 1.4rem;
    font-family: paragraph, sans-serif;
    color: #707070;
    margin: 1rem 0 0 0;
    padding: 0;
    }

.details {
    display: flex;
    margin-top: 4rem;
    }


.details >div {
    margin-right: 5%;
    min-height: 20rem;
    }

.details > div .new{
    padding: 2.5rem;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

.details > div .old {
    padding: 2.5rem;
    background: #ffffff;
    border: 1px dashed #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details h3 {
    color: #508279;
    font-size: 1.5rem;
    }
.details p {
    color: #707070;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.4;
    }
.details .detailsSubHeader {
    font-family: paragraphBold;
    color: #292929;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    width: 85%;
    }

.details .primaryButton {
    background: #F5821F;
    border: none;
    font-family: title, sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
    border-radius: 4rem;
    padding: 1.1rem 2.5rem;
    cursor: pointer;
    margin-top: 1.5rem;
    align-self: flex-end;
    outline: none;
}

.details .secondaryButton {
    color: #F5821F;
    border: 1px solid #F5821F;
    font-family: title, sans-serif;
    font-size: 1.3rem;
    background: #ffffff;
    border-radius: 4rem;
    padding: 1.1rem 2.5rem;
    cursor: pointer;
    margin-top: 1.5rem;
    align-self: flex-end;
    outline: none;
}

.footer {
    background: #508279;
    color: #ffffff;
    margin-top: 8rem;
    padding: 2rem 6rem;
}

.footer >div {
    width: 60%;
    padding: 1rem 0;
}

.footer div .paragraph {
    font-size: 1.3rem;
    font-weight: 100;
}

.footer .additionalPayment {
    display: flex;
    width: 100%;
}

.footer .additionalPayment >div {
    width: 45%;
    margin-right: 5%;
}

.footer h4 {
    font-size: 1.2rem;
}

.footer .questions {
    display: flex;
}
.footer .questions div {
    margin-right: 5%;
}
.footer .questions div p{
    margin: 0;
    padding: 0;
}

.sticky {
    background: #DBE5E3;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.sticky p {
    color: #508279;
    padding: .8rem;
    margin: 0;
}


@media only screen and (max-width: 970px) { 
    .container-fluid, .footer {
        padding: 2rem;
    }
    .details h3 {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 750px) { 
    .details {
        flex-direction: column;
        }
    .footer >div {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) { 
    html,body {
        font-size: 13px;
        }
    .hero div h1 {
        width: 95%;
        font-size: 2.4rem;
        }
    .sticky p {
        font-size: .8rem;
    }
}


